<div class='row'>
    <div class='col-sm-3'>
        <app-tree (onSelected)="onFileSystemObjectSelected($event)"></app-tree>
    </div>
    <div class='col-sm-9 body-content'>
        <div *ngIf="selectedFileSystemObject; else nothingSelected">
            <app-thumbnails *ngIf="selectedFileSystemObject.type==fileSystemObjectTypes.DIRECTORY" [fileSystemObject]="selectedFileSystemObject"></app-thumbnails>
        </div>
        <ng-template #nothingSelected>
            Select something in the tree
        </ng-template>
    </div>
</div>
