<div class='main-nav'>
    <nav class='navbar navbar-dark bg-dark'>
        <a class='navbar-brand' [routerLink]="['/home']">ShowPics</a>
        <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse' aria-label="Toggle navigation">
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='navbar-collapse collapse'>
            <ul class='navbar-nav mr-auto'>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
