<div class='main-nav'>
    <nav class='navbar navbar-expand-md navbar-dark bg-dark'>
        <a class='navbar-brand' [routerLink]="['/browse']">ShowPics</a>
        <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse' aria-label="Toggle navigation">
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='navbar-collapse collapse'>
            <ul class='navbar-nav mr-auto'>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link" [routerLink]="['/browse']">
                        <span class='glyphicon glyphicon-th-list'></span> Media Browser
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
